body {
  background-color: rgb(119, 185, 230);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h3 {
  color: white;
}

h1 {
  text-align: center;
}

img {
  margin-left: 750px;
}

p,
li {
  color: white;
}

li::marker {
  color: blueviolet;
}
.boxing {
  margin-top: 20px;
  border: 2px solid black;
  padding: 30px;
}
